@import 'tailwindcss';

@theme inline {
  --color-light: #ffffff;
  --color-dark: #191919;
  --color-muted: #f8f8f8;
  --color-border: #e8e8e8;
  --font-zodiak: var(--font-zodiak);
  --font-satoshi: var(--font-satoshi);
}

@layer base {
  button {
    @apply cursor-pointer;
  }
}

body {
  background: #ffffff;
  color: #191919;
  font-family: var(--font-manrope);
}
